.policy-table table thead{
  background-color: #0F305E;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
}
.policy-table table thead th{
  width: 100%;
  max-width: 280px;
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.policy-table table thead th.keep-me {
  height: 21px;
  width: 21px;
  margin: 0px;
}

/* The.p-t-col  ctn-check */
.policy-table table thead .ctn-check {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.policy-table table thead .ctn-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.policy-table table thead .ctn-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border: 1.2px solid #E2DFDF;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  background-color: #ffffff00;
}

/* On mouse-over, add a grey background color */
.policy-table table thead .ctn-check:hover input~.checkmark {
  background-color: #ffffff;
}

/* When the checkbox is checked, add a blue background */
.policy-table table thead .ctn-check input:checked~.checkmark {
  background-color: #0F305E;
}

/* Create the checkmark/indicator (hidden when not checked) */
.policy-table table thead .ctn-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.policy-table table thead .ctn-check input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.policy-table table thead .ctn-check .checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}