
.tbl-form.checkbox {
  display: flex;
  align-items: flex-start !important;
  justify-content: center;
}
/* The ctn-check */
.ctn-check {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.ctn-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.ctn-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border: 2.8px solid #2D3B79;
  border-radius: 4px;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.ctn-check:hover input~.checkmark {
  background-color: #ffffff;
}

/* When the checkbox is checked, add a blue background */
.ctn-check input:checked~.checkmark {
  background-color: #2D3B79;
}

/* Create the checkmark/indicator (hidden when not checked) */
.ctn-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ctn-check input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ctn-check .checkmark:after {
  left: 3px;
  top: 0px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}